/* #restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    margin: 10px auto;
}

#restaurant > article {
    height: auto;
    width: 400px;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 2px 2px rgba(0, 0, 0, 0.103);
    gap: 10px;
}

#restaurant > article:hover {
    box-shadow: 0px 0px 5px 12px #61914a4b;
}

#restaurant > article > h4 {
    margin-top: 10px;
} */