#upload > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#upload > div > button{
    width: max-content;
    margin: 10px auto;
    padding: 10px 0;
    background: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 1s;
    text-decoration: underline var(--VertPrincipal) 3px;
    border-radius: 5px;
}

#upload > div > input {
    border: none;
}

#upload > div > button:hover {
    background: var(--VertPrincipal);
    color: white;
    width: max-content;
    transition-duration: 1s;
    border: none;
    text-decoration: none;
    padding: 10px 5px;
    cursor: pointer;
}