#connexion > div {
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    /* position: relative; */
    align-items: center;
}

#connexion > div > img {
    position: fixed;
    z-index: -1;
    max-width: 100%;
    filter: blur(2.5px);
}

#connexion > div > h2 {
    color: white;
    font-size: 1.7rem;
}

#connexion > div > form {
    display: flex;
    position: relative;
    gap: 30px;
    flex-direction: column;
    width: 400px;
    background: rgba(245, 245, 245, 0.116);
    border: 2px solid var(--VertPrincipal);
    border-radius: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#connexion > div > form > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#connexion > div > form > div > label {
    color: white;
}

#connexion > div > form > button,
#connexion > div > form > a  {
    border: none;
    background: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: underline var(--VertPrincipal) 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

#connexion > div > form > button:hover {
    background: var(--VertPrincipal);
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
    width: max-content;
    /* transition-duration: 0.5s; */
    letter-spacing: 1px;
}

#connexion > div > form > a {
    position: absolute;
    text-decoration: underline var(--VertPrincipal) 2px;
    font-size: 13px;
    bottom: 10px;
    right: 10px;
} 

#connexion > div > form > a:hover {
    border: 1px solid var(--VertPrincipal);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #connexion > div > img {
        display: none;
    }

    #connexion > div > form > div > label,
    #connexion > div > form > a,
    #connexion > div > form > button,
    #connexion > div > h2
    {
        color: black;
    }

    #connexion > div > h2 {
        position: absolute;
        top: 130px;
    }

    #connexion > div {
        height: 100%;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #connexion > div > form {
        height: 100%; 
        width: 100%;
        margin: 200px 15px 10px 15px;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.479);
    }

    #connexion > div > form > button:hover{
        background: none;
        transition: none;
        text-transform: none;
        width: none;
        letter-spacing: none;
    }

    #connexion > div > form > a:hover {
        border: none;
    }
}