#connexion_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#connexion_user > h2 {
    margin-bottom: 40px;
}

#connexion_user > section {
    display: flex;
    width: 95%;
}

#connexion_user > section > ul {
    width: 300px;
    border-right: 1px solid black;
    margin-right: 30px;
    padding-right: 50px;
    height: 500px;
}

#connexion_user > section > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 10px;
}
#connexion_user > section > section {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    position: relative;
    padding-left: 100px;
    margin: 30px 0;
    width: 100%;
}

#connexion_user > section > section > h3 {
    position: absolute;
    top: 10px;
    left: 20px;
}

#connexion_user > section > section > article {
    width: 180px;
}