#searchBar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar > input {
    width: 230px;
    height: 40px;
    font-size: 17px;
    border: solid var(--VertSecondaire) 2px;
}

#searchBar > button {
    height: 40px;
    width: 150px;
    background: var(--VertSecondaire);
    border: none;
    border-radius: 0 10px 10px 0;
    color: white;
    letter-spacing: 3px;
    font-size: 17px;
    font-family: none;
}

#searchBar > button:hover {
    cursor: pointer;
    background: var(--VertPrincipal);
    font-weight: bold;
}

/* @media screen and (max-width: 646px) {
    #searchBar {
        margin-top: 10vh;
    }
} */