/* #resto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#resto > h2{
    width: 100%;
    text-align: center;
}

#resto > section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
    margin: 0 auto;
}

#pageResto {
    width: 100%;
    height: 70vh;
}

.resto {
    height: auto;
    width: 400px;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 5px 2px 2px rgba(0, 0, 0, 0.103);
    gap: 10px;
    border: 3px solid var(--VertPrincipal);
    position: relative;
}

.resto > div {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

#resto > section > .resto > a {
    padding: 5px;
    border-radius: 10px;
}

.resto > div > figure {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
}

.resto > div > figure:first-child {
    left: 15%;
}

.resto > div > figure:nth-child(3) {
    right: 15%;
}

.resto > div > p {
    text-align: center;
}

.team {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.team + p {
text-align: center;
margin-bottom: 15px;
}

.googleMap > p {
    width: 20%;
}

.googleMap > a {
    width: 80%;
}
.googleMap > p,
.googleMap + a,
.PopUpMenu{
    text-decoration: underline 2px;
}

.PopUpMenu {
    text-transform: uppercase;
    width: max-content;
    transition-duration: 0.5s;
    letter-spacing: 1px;
    border: none;
    background: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.pop-up {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
}

.pop-up > div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    align-items: center;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.pop-up > div > h3 {
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 25px;
}

.pop-up > div > figure {
    max-width: 100%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px auto;
}

.croix {
    position: absolute;
    top: -20px;
    left: 20px;
    font-size: 50px;
    color: white;
} */


/* animation */
/* 
#resto > section > .resto:hover {
    box-shadow: 0px 0px 5px 12px #61914a4b;
    border: none;
}

#resto > section > .resto:hover > a {
    background: var(--VertPrincipal);
    color: white;
    text-transform: uppercase;
    width: max-content;
    transition-duration: 0.5s;
    letter-spacing: 1px;
}

#resto > section > .resto:hover > p > a {
    text-decoration: underline var(--VertPrincipal) 3px;
}

#resto > section > .resto:hover > .team {
    border-top: 3px solid var(--VertPrincipal);
    border-left: 3px solid var(--VertPrincipal);
    border-right: 3px solid var(--VertPrincipal);
}

#resto > section > .resto:hover > .team + p {
    border-bottom: 3px solid var(--VertPrincipal);
    border-left: 3px solid var(--VertPrincipal);
    border-right: 3px solid var(--VertPrincipal);
}

.resto:hover > .googleMap > p {
    text-decoration: none;
}

.resto:hover > .googleMap > a {
    text-decoration: underline var(--VertPrincipal) solid 4px;
}

.resto:hover > .PopUpMenu{
    background: var(--VertPrincipal);
    color: white;
    text-transform: uppercase;
    width: max-content;
    transition-duration: 0.5s;
    letter-spacing: 1px;
    padding: 5px 10px;
    border-radius: 5px;
}

.menuMobile,
.resto > .menuMobile + a {
    display: none;
} 

@media screen and (max-width: 850px) {
    .resto {
        max-width: 100%;
    } 
    #resto {
        padding-top: 80px;
    }
    #resto > h2 {
        z-index: 3;
        width: auto;
    }
    .menuMobile {
        width: 100%;
        height: 300px;
    }
    .resto > .map {
        background: var(--VertPrincipal);
        color: white;
    }
    .resto > div  {
        justify-content: center;
    }
    .pop-up > div > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .pop-up > div > section  > article {
        width: 100%;
    }
    .pop-up > div > section > p {
        width: 100%;
    }
    .menuMobile {
        display: block;
    }
    #resto > section > .resto:hover,
    #resto > section > .resto:hover > a {
        display: none;
    }
}

@media screen and (max-width: 646px) {
    .resto {
        max-width: 100%;
    } 
    #resto {
        padding-top: 80px;
    }
    #resto > h2 {
        z-index: 3;
        width: auto;
    }
    .menuMobile {
        width: 100%;
        height: 300px;
    }
    .resto > .map {
        background: var(--VertPrincipal);
        color: white;
    }
    .resto > div  {
        justify-content: center;
    }
    .pop-up > div > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .pop-up > div > section  > article {
        width: 100%;
    }
    .pop-up > div > section > p {
        width: 100%;
    }
    .menuMobile {
        display: block;
    }
    #resto > section > .resto:hover,
    #resto > section > .resto:hover > a {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .resto > div > figure:nth-child(3){
        right: 5%;
    }

    .resto > div > figure:first-child {
        left: 5%;
    }
} */